connect = host={{ mysql_hostname }} dbname={{ mysql_database }} user={{ mysql_username }} password={{ mysql_password }}
map {
  pattern = priv/quota/storage
  table = quota2
  username_field = username
  value_field = bytes
}
map {
  pattern = priv/quota/messages
  table = quota2
  username_field = username
  value_field = messages
}